name: test
on: push
jobs:
  project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: setup
        run: make setup
      - name: test
        run: make test
      - name: lint
        run: make lint
